.profileContainer {
  font-family: 'Abel', sans-serif;
  width: 80%;
}

h2 {
  color: #f4f3f1;
  font-weight: bolder;
}

.container{
  display: flex;
  justify-content: flex-start;
}

.section {
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #f4f3f1;
}

.both{
  margin-top: 3vh;
}

label {
  font-weight: bold;
  color: rgba(244, 243, 241, 0.8);
}

input {
  padding: 10px 0;
  font-size: 14px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(244, 243, 241, 1);
  width: 100%;
  outline: none;
}

.updateBtn {
  color: #e38012;
  background-color: transparent;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  right: 0;
  font-family: 'Abel', sans-serif;
  text-decoration: underline;
  margin-top: 5vh;
  font-size: 2vh;
}

@media (max-width: 768px) {
  .profileContainer {
    width: 90%; /* Use more of the screen width */
  }

  .profileContainer h2 {
    font-size: 1.5rem;
  }

  .updateBtn {
    align-self: center; /* Center the button on mobile */
    width: 100%;
    max-width: 350px; /* Give it a max-width */
    margin-top: 3rem;
    padding: 0.8rem;
    text-decoration: none; /* Remove underline for button style */
    background-color: #e38012; /* Give it a solid background */
    color: #f4f3f1;
    text-align: center;
    font-size: 1rem;
  }
}
