.navbar {
  background-color: #040404;
  color: rgba(244, 243, 241, 1);
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Abel', sans-serif;
  height: 113px;
  /* position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0; */
}

.leftMenu {
  display: flex;
  gap: 24px;
  font-size: 18px;
  font-weight: 400;
}

.menuItem {
  cursor: pointer;
}

.dropdown {
  font-size: 10px;
  margin-left: 4px;
}

.logoImage {
  width: 46.62px;
  height: 48px;
}

.iconGroup {
  display: flex;
  gap: 20px;
  font-size: 20px;
}

.icon {
  cursor: pointer;
  transition: color 0.3s;
  color: #f4f3f1;
}

.icon:hover {
  color: #e38012;
}

.userMenu {
  position: relative;
  display: inline-block;
}

.dropdownMenu {
  position: absolute;
  top: 35px; /* Adjust spacing below icon */
  right: 0;
  background: #040404;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  min-width: 150px;
  z-index: 1000;
}

.dropdownMenu a,
.dropdownMenu button {
  padding: 10px 15px;
  text-align: left;
  background: #040404;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #f4f3f1;
  font-family: 'Abel', sans-serif;
  text-decoration: none;
}

.dropdownMenu a:hover,
.dropdownMenu button:hover {
  background-color: #756d51;
}

.searchWrapper {
  position: relative; /* keeps input aligned with icon */
}

.searchInput {
  position: absolute;
  right: 35px; /* push left of search icon */
  top: 50%;
  transform: translateY(-50%);
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: white;
  width: 0;
  opacity: 0;
  pointer-events: none;
  transition: width 0.3s ease, opacity 0.3s ease;
  color: black;
}

/* When active */
.searchWrapper.active .searchInput {
  width: 40vh;   /* expands smoothly */
  opacity: 1;
  pointer-events: all;
  height: 4vh;
}



.results {
  margin-top: 10px;
  background: #fafafa;
  border: 1px solid #eee;
  border-radius: 6px;
  max-height: 200px;
  overflow-y: auto;
}

.resultItem {
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.resultItem:hover {
  background: #f0f0f0;
}
