.navbar {
  background-color: #040404;
  color: rgba(244, 243, 241, 1);
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Abel', sans-serif;
  height: 113px;
  /* position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0; */
}

.leftMenu {
  display: flex;
  gap: 24px;
  font-size: 18px;
  font-weight: 400;
}

.menuItem {
  cursor: pointer;
}

.dropdown {
  font-size: 10px;
  margin-left: 4px;
}

.logoImage {
  width: 46.62px;
  height: 48px;
}

.iconGroup {
  display: flex;
  gap: 20px;
  font-size: 20px;
}

.icon {
  cursor: pointer;
  transition: color 0.3s;
}

.icon:hover {
  color: #e38012;
}

/* User dropdown container */
.userMenu {
  position: relative;
  display: inline-block;
}

/* Dropdown menu */
.dropdownMenu {
  position: absolute;
  top: 35px; /* Adjust spacing below icon */
  right: 0;
  background: #040404;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  min-width: 150px;
  z-index: 1000;
}

/* Dropdown items */
.dropdownMenu a,
.dropdownMenu button {
  padding: 10px 15px;
  text-align: left;
  background: #040404;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #f4f3f1;
  font-family: 'Abel', sans-serif;
  text-decoration: none;
}

.dropdownMenu a:hover,
.dropdownMenu button:hover {
  background-color: #756d51;
}
