.navbar {
  background-color: #040404;
  color: rgba(244, 243, 241, 1);
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Abel', sans-serif;
  height: 113px;
  /* position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0; */
}

.leftMenu {
  display: flex;
  gap: 24px;
  font-size: 18px;
  font-weight: 400;
}

.menuItem {
  cursor: pointer;
}

.dropdown {
  font-size: 10px;
  margin-left: 4px;
}

.logoImage {
  width: 46.62px;
  height: 48px;
}

.iconGroup {
  display: flex;
  gap: 20px;
  font-size: 20px;
}

.icon {
  cursor: pointer;
  transition: color 0.3s;
}

.icon:hover {
  color: #e38012;
}
