.container {
  color: white;
  font-family: 'Abel', sans-serif;
  width: 100%;
  margin: 0 auto;
}

.itemCard {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid #444;
  padding: 20px 0;
  position: relative;
  margin-top: 3vh;
}

.image {
  width: 120px;
  height: auto;
  object-fit: cover;
  margin-right: 20px;
}

.details {
  flex: 1;
  font-size: 14px;
}

.details h3 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-family: 'Aboreto', sans-serif;
}

.price {
  color: #e38012;
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0;
}

.delivery {
  color: #00a99d;
  font-size: 13px;
  margin-top: 5px;
}

.removeBtn {
  background: none;
  border: none;
  font-size: 22px;
  color: #e38012;
  cursor: pointer;
  margin-left: 15px;
}

.addressSection {
  margin-top: 30px;
  font-size: 14px;
}

.addressSection h3 {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 10px;
}

.whiteLine {
  display: inline-block;
  width: 3vw;
  height: 0.08vw;
  background-color: rgba(244, 243, 241, 1);
  margin-left: 1.5vw;
  margin-bottom: 1vh;
  vertical-align: middle;
  margin-right: 0.5vh;
}